<a href="https://colab.research.google.com/github/c-c-c-c/kaggle_titanic/blob/master/myWrangling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
# Suppress warnings 
import warnings
warnings.filterwarnings('ignore')
import gc

# matplotlib and seaborn for plotting
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

#追記
import json
import datetime
import math

#importじゃないけど、個人的には省略されて良いことがあまりないので・・
pd.set_option('display.max_columns', 50)
pd.set_option('display.max_rows', 100)

from sklearn import preprocessing
from sklearn.model_selection import StratifiedKFold
import lightgbm as lgb

In [0]:
train = pd.read_csv('/content/drive/My Drive/Colab Notebooks/kaggle_titanic/titanic/data/train.csv')
test = pd.read_csv('/content/drive/My Drive/Colab Notebooks/kaggle_titanic/titanic/data/test.csv')
gender_submission = pd.read_csv('/content/drive/My Drive/Colab Notebooks/kaggle_titanic/titanic/data/gender_submission.csv')
# gender_submission = pd.read_csv('../input/titanic/gender_submission.csv')

In [40]:
train.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [0]:
train["is_train"] = 1
test["is_train"]  = 0

In [0]:
df_merged = pd.concat([train,test])

In [0]:
# df_merged["Embarked"] = df_merged["Embarked"].fillna("NNN")

In [0]:
# # df_merged[ df_merged["Embarked"]==999]

# # df_merged[df_merged["Sex"].isnull()]

# # df_merged

# le = preprocessing.LabelEncoder()
# le.fit(df_merged["Embarked"])
# df_merged["Embarked"] = le.transform(df_merged["Embarked"])

In [0]:

# df_merged[df_merged["Embarked"].isnull()]
# set(df_merged["Embarked"].values)

In [0]:
# df_merged[df_merged["Sex"].isnull()]
# set(df_merged["Sex"].values)

In [0]:
# for column in ['Sex','Embarked']:
for column in ['Sex','Embarked']:
#     print(titanic[column].shape)
    df_merged[column] = df_merged[column].fillna("NNN")
    le = preprocessing.LabelEncoder()
    le.fit(df_merged[column])
    df_merged[column] = le.transform(df_merged[column])

In [0]:
train = df_merged[df_merged["is_train"] ==1]

In [0]:
test = df_merged[df_merged["is_train"] ==0]

In [0]:
# # SexとEmbarkedのlabel encoding
# train = pd.get_dummies(train, columns=['Sex', 'Embarked']) 
# test = pd.get_dummies(test, columns=['Sex', 'Embarked'])
# 不要な列の削除
train.drop(['PassengerId', 'Name', 'Cabin', 'Ticket'], axis=1, inplace=True)
test.drop(['PassengerId', 'Name', 'Cabin', 'Ticket'], axis=1, inplace=True)

In [0]:
feat_cols =  list(train.columns)
feat_cols.remove('Survived')
feat_cols.remove('is_train')

categoricals = ["Pclass", 'SibSp','Parch','Sex','Embarked']

In [0]:
# feat_cols

In [0]:
params = {
            'boosting_type': 'gbdt',
            'objective': 'binary',
            # 'metric': {'rmse'},
            'subsample': 0.7,
            'subsample_freq': 1,
            'learning_rate': 0.01,
            'num_leaves': 100,
            'min_data_in_leaf':24,
            'feature_fraction': 0.9,
            'lambda_l1': 1,  
            'lambda_l2': 1
            }

In [0]:
folds = 5
seed = 666

kf = StratifiedKFold(n_splits=folds, shuffle=False, random_state=seed)

In [54]:
models = []
for train_index, val_index in kf.split(train, train['Survived']):
    train_X = train[feat_cols].iloc[train_index]
    val_X = train[feat_cols].iloc[val_index]
    train_y = train["Survived"].iloc[train_index]
    val_y = train["Survived"].iloc[val_index]

    lgb_train = lgb.Dataset(train_X, train_y, categorical_feature=categoricals)
    lgb_eval = lgb.Dataset(val_X, val_y, categorical_feature=categoricals)

    
    gbm = lgb.train(params,
                lgb_train,
                num_boost_round=2000,
                valid_sets=(lgb_train, lgb_eval),
                early_stopping_rounds=100,
                verbose_eval = 100)
    models.append(gbm)

Training until validation scores don't improve for 100 rounds.
[100]	training's binary_logloss: 0.472191	valid_1's binary_logloss: 0.524273
[200]	training's binary_logloss: 0.411625	valid_1's binary_logloss: 0.486109
[300]	training's binary_logloss: 0.382243	valid_1's binary_logloss: 0.472528
[400]	training's binary_logloss: 0.363404	valid_1's binary_logloss: 0.463965
[500]	training's binary_logloss: 0.348365	valid_1's binary_logloss: 0.459558
[600]	training's binary_logloss: 0.336182	valid_1's binary_logloss: 0.454063
[700]	training's binary_logloss: 0.326615	valid_1's binary_logloss: 0.45009
[800]	training's binary_logloss: 0.317845	valid_1's binary_logloss: 0.445997
[900]	training's binary_logloss: 0.310041	valid_1's binary_logloss: 0.44271
[1000]	training's binary_logloss: 0.302881	valid_1's binary_logloss: 0.441255
[1100]	training's binary_logloss: 0.296869	valid_1's binary_logloss: 0.440371
[1200]	training's binary_logloss: 0.291201	valid_1's binary_logloss: 0.437599
[1300]	training's binary_logloss: 0.286086	valid_1's binary_logloss: 0.435239
[1400]	training's binary_logloss: 0.28097	valid_1's binary_logloss: 0.433409
[1500]	training's binary_logloss: 0.276501	valid_1's binary_logloss: 0.43231
[1600]	training's binary_logloss: 0.272316	valid_1's binary_logloss: 0.43155
Early stopping, best iteration is:
[1557]	training's binary_logloss: 0.27409	valid_1's binary_logloss: 0.431046
Training until validation scores don't improve for 100 rounds.
[100]	training's binary_logloss: 0.471455	valid_1's binary_logloss: 0.493949
[200]	training's binary_logloss: 0.40787	valid_1's binary_logloss: 0.462519
[300]	training's binary_logloss: 0.376087	valid_1's binary_logloss: 0.458724
Early stopping, best iteration is:
[288]	training's binary_logloss: 0.378904	valid_1's binary_logloss: 0.458199
Training until validation scores don't improve for 100 rounds.
[100]	training's binary_logloss: 0.481076	valid_1's binary_logloss: 0.473724
[200]	training's binary_logloss: 0.423751	valid_1's binary_logloss: 0.422259
[300]	training's binary_logloss: 0.395647	valid_1's binary_logloss: 0.404285
[400]	training's binary_logloss: 0.375802	valid_1's binary_logloss: 0.395611
[500]	training's binary_logloss: 0.359807	valid_1's binary_logloss: 0.390441
[600]	training's binary_logloss: 0.347674	valid_1's binary_logloss: 0.386927
[700]	training's binary_logloss: 0.336786	valid_1's binary_logloss: 0.383953
[800]	training's binary_logloss: 0.327243	valid_1's binary_logloss: 0.382866
[900]	training's binary_logloss: 0.319347	valid_1's binary_logloss: 0.381626
[1000]	training's binary_logloss: 0.311946	valid_1's binary_logloss: 0.379873
[1100]	training's binary_logloss: 0.305387	valid_1's binary_logloss: 0.378603
[1200]	training's binary_logloss: 0.299436	valid_1's binary_logloss: 0.377681
[1300]	training's binary_logloss: 0.294175	valid_1's binary_logloss: 0.377197
[1400]	training's binary_logloss: 0.288724	valid_1's binary_logloss: 0.375759
[1500]	training's binary_logloss: 0.283875	valid_1's binary_logloss: 0.374907
[1600]	training's binary_logloss: 0.279458	valid_1's binary_logloss: 0.373972
[1700]	training's binary_logloss: 0.275566	valid_1's binary_logloss: 0.373873
Early stopping, best iteration is:
[1646]	training's binary_logloss: 0.277576	valid_1's binary_logloss: 0.373426
Training until validation scores don't improve for 100 rounds.
[100]	training's binary_logloss: 0.476076	valid_1's binary_logloss: 0.491516
[200]	training's binary_logloss: 0.417672	valid_1's binary_logloss: 0.447184
[300]	training's binary_logloss: 0.38846	valid_1's binary_logloss: 0.431588
[400]	training's binary_logloss: 0.368049	valid_1's binary_logloss: 0.425272
[500]	training's binary_logloss: 0.351088	valid_1's binary_logloss: 0.423212
[600]	training's binary_logloss: 0.338262	valid_1's binary_logloss: 0.422937
[700]	training's binary_logloss: 0.327021	valid_1's binary_logloss: 0.422109
Early stopping, best iteration is:
[644]	training's binary_logloss: 0.333075	valid_1's binary_logloss: 0.421723
Training until validation scores don't improve for 100 rounds.
[100]	training's binary_logloss: 0.484003	valid_1's binary_logloss: 0.477128
[200]	training's binary_logloss: 0.428289	valid_1's binary_logloss: 0.422456
[300]	training's binary_logloss: 0.40123	valid_1's binary_logloss: 0.401327
[400]	training's binary_logloss: 0.382293	valid_1's binary_logloss: 0.389656
[500]	training's binary_logloss: 0.36606	valid_1's binary_logloss: 0.381901
[600]	training's binary_logloss: 0.35274	valid_1's binary_logloss: 0.376712
[700]	training's binary_logloss: 0.34137	valid_1's binary_logloss: 0.373834
[800]	training's binary_logloss: 0.331618	valid_1's binary_logloss: 0.372136
[900]	training's binary_logloss: 0.323198	valid_1's binary_logloss: 0.371354
Early stopping, best iteration is:
[883]	training's binary_logloss: 0.324582	valid_1's binary_logloss: 0.370753

In [0]:
predicts_sum = []
for i, tmp_model in enumerate(models):
    predicts = tmp_model.predict(test[feat_cols])

    if  i == 0 :
        predicts_sum = predicts
    else:
        for i in range(len(predicts_sum)):
            predicts_sum[i] += predicts[i]

u_predicts = [ x/len(models) for x in predicts_sum ]

In [0]:
test["Survived"] = [ 1 if x > 0.5 else 0 for  x in u_predicts]

# [式 for 任意の変数名 in イテラブルオブジェクト

In [0]:
df_sub = gender_submission.copy()
df_sub["Survived"] = test["Survived"]

In [0]:
df_sub.to_csv('/content/drive/My Drive/Colab Notebooks/kaggle_titanic/titanic/sub.csv',index=False)